[user]
	name = Oliver Butler
	email = dev@oliverbutler.uk
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEu6Iqvohxzm8FBBXznE/ZmHkry9nHHHM8PrtbNeXg0X

[pull]
	rebase = true

[rebase]
	autoStash = true
	updateRefs = true

[push]
	autoSetupRemote = true

[core]
	pager = delta

[delta]
	navigate = true

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	yolo = !git commit -am \"$(curl -sL http://whatthecommit.com/index.txt)\"
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
